/*
 *= require_self
 *= require sweetalert
 *= require_tree .
*/
body{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
}

div#main_frame{
  position:absolute;
  top:0px;
  bottom:0px;
  right:0px;
  left:0px;
}

div#header_frame{
  position:absolute;
  top:0px;
  left:0px;
  width:40%;
  height:10%;

  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin:10 0 0 10;
  z-index: 1000000;
}

div#main_menu {
  margin:0 0 10 0;
  height:45px;
}

div#main_menu div{
  display:inline-block;
  position:relative;
  bottom:16px;
}

a{
  text-decoration: none;
  color:#074987;
  font-weight:bold;
}

a:hover{
  color:#96C8C8;;
}

div#pdb_chains{
  font-weight:bold;
  color:#666666;
}

div#pdb_chains select{
  font-size: 12px;
  height:20px;
}

div#pssm_control{
  font-size: 14px;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin:10 0 0 10;
  color:#666666;
}

div#pssm_control  select {
  font-size: 12px;
  height:20px; 
}

div#left_frame{
  position:absolute;
  top:10%;
  left:0px;
  bottom:0px;
  width:45%;
}

div#structure_frame{
  position:absolute;
  top:0;
  height:67%;
  width:100%;
}

div#cons_frame{
  position:absolute;
  left:2%;
  bottom:3%;
  height:30%;
  width:96%;
  
}


div#pssm_frame{
  position:absolute;
  height:100%;
  width:100%;
}

div#right_frame{
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  width:55%;
}

div#pssm_frame{

}

div#pssm_div{
  position:absolute;
  top:10%;
  height:85%;
  width:98%;
  border: 1px double #E9E9E9;
  padding: 10 0 10 10;
  border-radius: 10px;
}

div#pssm_viewport{
  direction:rtl; 
  overflow:auto;
  height:100%;
  padding-left:25px;
}

div#pssm_viewport > div{
  direction:ltr;
}
