= stylesheet_link_tag('web/home_style.css')
.ws_main_div
  .home_text
    3DCONS is a database that compiles computed position-specific scoring matrices (PSSMs) and position-specific frequency matrices (PSFMs) for the protein sequences of the Protein Data Bank (PDB). 3DCONS data was computed using the iterative BLAST algorithm (PSIBLAST) for all individual chains of PDB entries. Currently, the database compiles PSSM profiles for 333,532 chains and involves 123,135 different PDB entries. 
  .home_image
    =image_tag("home.png") 
